.recipe-card {
    border: black;
    border-style: ridge;
    margin: 20px;
    padding: 10px;
    max-width: 33%;
    min-width: min-content;
    display: inline-grid;
}

.recipe-card > label {
    font-size: 2rem;
}

.recipe-card .cuisines > li {
    display: inline list-item;
    margin: 10px;
}

.recipe-card > img {
    width: 100%;
}
