@page "/calendar"
@using System.Text

<PageTitle>Calendar</PageTitle>

<h1>Calendar</h1>

<p role="status">@DateTime.Today.ToString("dddd") @DateTime.Today.Day</p>

<table>
    <thead>
        @BuildWeek()
    </thead>
</table>

@code {
    private MarkupString BuildWeek()
    {
        var sbWeekHtml = new StringBuilder();
        for (int i = 0; i < 7; i++)
        {
            sbWeekHtml.AppendLine($"<tr><td>{(System.DayOfWeek)i}</td></tr>");
        }
        return (MarkupString)sbWeekHtml.ToString();
    }
}
