@page "/mealplan"

@using System.Text
@using System.Globalization
@using System.Resources
@using System.Collections

<PageTitle>Meal Plan</PageTitle>

<h1>Meal Plan</h1>

<p role="status">@DateTime.Today.ToString("dddd MMM d")</p>

<table>
    <thead>
    </thead>
    <tbody>
    </tbody>
</table>

@code {
    public BMelt.ClassLibrary.Models.MealPlan Model;
}
