@page "/recipe"

@using System.Text
@using System.Globalization
@using System.Resources
@using System.Collections

<PageTitle>@Model.Name</PageTitle>

<h1>@Model.Name</h1>


@code {
    public BMelt.ClassLibrary.Recipe Model;
}
