@page "/recipes"

@using System.Text
@using System.Globalization
@using System.Resources
@using System.Collections
@using BMelt.ClassLibrary.Models

<link href="css/recipe-card.css?20220408" rel="stylesheet" />
<PageTitle>Recipes</PageTitle>

<h1>Recipes</h1>

@*@foreach (var recipeCard in Model)
{
    <BMelt.ClassLibrary.Razor.ShortRecipe Model=@recipeCard />
}*@


@code {
    public IEnumerable<BMelt.ClassLibrary.Models.Recipe> Model = new []
    {
        new BMelt.ClassLibrary.Models.Recipe
        {
            Id = Guid.Empty,
            Name = "TestName", 
            Author = new BMelt.ClassLibrary.Models.Author {FirstName = "Ted"},
            Cuisines = new[] { new Cuisine {Name = "Mexican"}, new Cuisine {Name = "Italian"} },
            ImagePath = "https://picturetherecipe.com/wp-content/uploads/2020/04/Vanilla-Cardamom-Kulfi-PTR-Featured.jpg"
        },
        new BMelt.ClassLibrary.Models.Recipe
        {
            Id = Guid.Empty,
            Name = "TestName2", 
            Author = new BMelt.ClassLibrary.Models.Author {FirstName = "Red"}
        }
    };
}
