@using BMelt.ClassLibrary.Enums

<a href="recipe/@Model.Id">
    <div class="recipe-card">
        <label>@Model.Name</label>
        <ul class="cuisines">
            @foreach (var cuisine in Model.Cuisines)
            {
               <li>@cuisine.ToString()</li>
            }
        </ul>
        <img src="@Model.ImagePath" />
    </div>
</a>

@code {
    [Parameter]
    public ClassLibrary.Models.Recipe Model { get; set; }
}
